<!--<mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInout placeholder="Filter">
</mat-form-field>-->

<div class="mat-elevation-28">
        
    <mat-table [dataSource]="dataSource" matSort matSortDirection="asc">
    <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</mat-header-cell>
        <mat-cell *matCellDef="let users">{{users.fullName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>UserName</mat-header-cell>
        <mat-cell *matCellDef="let users">{{users.username}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let users">{{users.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let users">{{users.address}}</mat-cell>
    </ng-container>
    
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   <!--<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>-->
</mat-table>
<mat-paginator [pageSizeOptions] = "[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>